body {
    /*height: 100vh;
    width: 100vw;
	*/
	height: 20%;
	width: 20%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    font-family: Hack;
    color: #e0e0ff;
    overflow: hidden;
}
