body.centered {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #00FFFFFF;
}

div.fancy-box {
    font-family: "Hack";
    background-color: #87af5f;
    padding: 20px;
    width: 300px;
    color: black;
    text-align: center;
    vertical-align: bottom;
    animation: none;
    position: absolute;
    bottom: 10px;
}
