body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: #00FFFFFF;
}

div.fancy-box {
    font-family: "Hack";
    background-color: #87af5f;
    padding: 20px;
    width: 300px;
    color: black;
    text-align: center;
    vertical-align: bottom;
    animation: none;
    position: absolute;
    bottom: 100px;
}

/* Crop container */
.fancy-box.image-crop {
    width: 700px;
    height: 700px;
    overflow: hidden;
    position: relative;
    padding: 0; /* Make sure padding doesn't mess with layout */
}

/* Image positioning with transform */
.fancy-box.image-crop img {
    position: absolute;
    width: auto;
    height: 200px;
    transform: translate(-50px, -30px);
}

